<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="1b89285b-4d7b-4dae-9d19-c622aa474621" Publisher="CN=Clairton" Version="1.0.0.0" />
  <Properties>
    <DisplayName>AutoConsumo</DisplayName>
    <PublisherDisplayName>MetroStaff</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AutoConsumo.App">
      <VisualElements DisplayName="AutoConsumo" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Calcular o consumo de combustivel do seu veiculo, caso seu veiculo seja Flex você pode verificar qual combustível é mais lucrativo e Calcular quanto de combustivel você irá precisar para fazer uma determinada viagem." ForegroundText="light" BackgroundColor="blue">
        <DefaultTile ShowName="allLogos" ShortName="Auto Consumo" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>